:root {
  --primitive-colors-sumi-500: #949497;
  --primitive-colors-sea-50: #E8F1FE;
}

:root,
[data-bs-theme=light] {
  --light-background-secondary: #F1F1F4;
  --light-background-primary: #FFFFFF;
  --light-background-tertiary: #F8F8FB;
  --light-border-divider: #D8D8DB;
  --light-border-focused: #D18D0F;
  --light-border-disabled: #949497;
  --light-icon-active: #0017C1;
  --light-text-alert: #EC0000;
  --light-text-body: #1A1A1C;
  --light-text-link: #0017C1;
  --light-text-description: #626264;
  --light-text-disabled: #949497;
  --light-button-normal: #0017C1;
  --light-button-active: #000082;
  --light-button-hover: #000082;
}

/* Accordion */
.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.05rem #D18D0F;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-border-radius: 0;
  --bs-accordion-body-padding-x: 2rem;
  --bs-accordion-body-padding-y: 1.5rem;
  --bs-accordion-body-field-padding: 0rem 0 1rem 0rem;
  --bs-accordion-btn-icon: url(../images/arrow_down.svg);
  --bs-accordion-btn-active-icon: url(../images/arrow_up.svg);
}

.accordion-button {
  padding-right: 16px;
  gap: 10px;
}

.accordion-button:not(.collapsed),
.accordion-button.collapsed {
  background: var(--light-background-secondary);
}

.accordion-item {
  border: 0;
  border-bottom: 1px solid var(--light-border-divider);
}

.accordion-item:not(:first-of-type) {
  border-top: 0;
}

.accordion-body .field {
  padding: var(--bs-accordion-body-field-padding);
}

[data-bs-theme=dark] .accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23668adc'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23668adc'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Button */
.btn,
.node-preview-container .node-preview-backlink,
a.button,
.button,
button.link {
  --bs-border-radius: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 1rem;
  --bs-btn-line-height: 1.375;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0017C1;
  --bs-btn-border-color: #000082;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000082;
  --bs-btn-hover-border-color: #000082;
  --bs-btn-focus-shadow-rgb: 38, 89, 206;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000082;
  --bs-btn-active-border-color: #000082;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #949497;
  --bs-btn-disabled-border-color: #949497;
}

.btn-secondary {
  --bs-btn-color: #0017C1;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #0017C1;
  --bs-btn-hover-color: #000082;
  --bs-btn-hover-bg: #E8F1FE;
  --bs-btn-hover-border-color: #000082;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #000082;
  --bs-btn-active-bg: #E8F1FE;
  --bs-btn-active-border-color: #000082;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #949497;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #949497;
}

.btn-tertiary {
  --bs-btn-color: #0017C1;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #000082;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #000082;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #949497;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
  text-decoration: underline;
}

.btn:focus-visible,
.node-preview-container .node-preview-backlink:focus-visible,
a.button:focus-visible,
.button:focus-visible,
button.link:focus {
  --bs-btn-focus-box-shadow: none;
  --bs-btn-focus-border: 2px solid var(--light-border-focused);
  --bs-btn-line-height: 1.25;
  border: var(--bs-btn-focus-border);
}

#backtotop {
  background-image: url(../images/back_to_top.svg);
  padding: 16px;
  background-size: 14px 16px;
  border-radius: 34px;
  border: 1px solid var(--light-button-normal);
  background-color: var(--light-background-primary);
  height: 56px;
  width: 56px;
}

#backtotop:hover {
  border-color: var(--light-button-hover);
  background-color: var(--primitive-colors-sea-50);
  background-image: url(../images/back_to_top_hover.svg);
}

#backtotop:active {
  border-color: var(--light-button-active);
  background-color: var(--primitive-colors-sea-50);
  background-image: url(../images/back_to_top_hover.svg);
}

#backtotop:focus {
  border-color: var(--light-border-focused);
  border-width: 2px;
}

/* Form control */
.form-control {
  --bs-border-radius: 8px;
  --bs-border-color: #1A1A1C;
  padding: 0.75rem 1rem;
  width: auto;
  max-width: 100%;;
}

.form-required {
  display: flex;
  align-items: center;
}

.form-required:after {
  color: var(--light-text-alert);
  font-size: 12px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.24px;
  background: none;
  content: "必須";
  width: auto;
  height: auto;
  vertical-align: unset;
}

.form-control:focus {
  border-width: 2px;
  border-color: var(--light-border-focused);
  box-shadow: none;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-color: var(--light-text-alert);
}

.form-item--error-message:before {
  display: none;
}

.form-item--error-message strong {
  color: var(--light-text-alert);
  font-size: 12px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.24px;
}

.form-composite>legend,
.form-item label, .label {
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 1;
}

.form-composite>.fieldset-wrapper>.description,
.form-item .description {
  color: var(--light-text-description);
  font-family: Noto Sans JP;
  font-size: 0.75rem;;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.24px;
  margin-bottom: 8px;
}

.form-composite.form-disabled>legend,
.form-item.form-disabled label,
.form-disabled .label {
  color: var(--light-text-disabled);
}

.form-control:disabled {
  --bs-secondary-bg: #F1F1F4;
  border-color: var(--light-border-disabled);
  color: var(--light-text-disabled);
}

/* Textarea */
.form-type-textarea .text-count-wrapper {
  float: right;
  color: var(--light-text-description);
  font-size: 0.75rem;;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
  margin-top: 4px;
}

.form-item--error .text-count-wrapper {
  color: var(--light-text-alert);
}

.form-disabled.form-type-textarea .text-count-wrapper {
  display: none !important;
}

/* Select */
.form-select {
  --bs-form-select-bg-img: url(../images/list_arrow.svg);
  --bs-form-select-disabled-bg-img: url(../images/list_arrow_disabled.svg);
  background-size: 24px 24px;
}

.form-select:disabled {
  background-image: var(--bs-form-select-disabled-bg-img);
}

/* Check box, Radio */
[type="checkbox"],
[type="radio"] {
  margin-right: 16px;
}

.form-type-radios label,
.form-type-checkboxs label {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.64px;
}

/* Radio */
[type=radio]+label {
  display: flex;
  align-items: center;
}

[type="radio"]+label:before {
  --bs-form-radio-bg-img: url(../images/radio.svg);
  --bs-form-radio-select-bg-img: url(../images/radio_select.svg);
  --bs-form-radio-error-bg-img: url(../images/radio_error.svg);
  --bs-form-radio-disabled-bg-img: url(../images/radio_disabled.svg);
}

[type=radio]+label:before {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

[type=radio]+label:before {
  background-image: var(--bs-form-radio-bg-img);
}

[type=radio]:checked+label::before {
  background-image: var(--bs-form-radio-select-bg-img);
}

[type=radio].error+label:before {
  background-image: var(--bs-form-radio-error-bg-img);
}

[type=radio]:checked.error+label:before {
  background-image: var(--bs-form-radio-select-bg-img);
}

.form-disabled [type=radio]+label:before {
  background-image: var(--bs-form-radio-disabled-bg-img);
}

[type=radio].error+label {
  color: var(--light-text-alert);
}

[type=radio] {
  display: none;
}

/* Check box */
[type=checkbox]+label {
  display: flex;
  align-items: center;
}

[type="checkbox"]+label:before {
  --bs-form-checkbox-bg-img: url(../images/checkbox.svg);
  --bs-form-checkbox-select-bg-img: url(../images/checkbox_select.svg);
  --bs-form-checkbox-error-bg-img: url(../images/checkbox_error.svg);
  --bs-form-checkbox-disabled-bg-img: url(../images/checkbox_disabled.svg);
}

[type=checkbox]+label:before {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

[type=checkbox]+label:before {
  background-image: var(--bs-form-checkbox-bg-img);
}

[type=checkbox]:checked+label::before {
  background-image: var(--bs-form-checkbox-select-bg-img);
}

[type=checkbox].error+label:before {
  background-image: var(--bs-form-checkbox-error-bg-img);
}

[type=checkbox]:checked.error+label:before {
  background-image: var(--bs-form-checkbox-select-bg-img);
}

.form-disabled [type=checkbox]+label:before {
  background-image: var(--bs-form-checkbox-disabled-bg-img);
}

[type=checkbox].error+label {
  color: var(--light-text-alert);
}

[type=checkbox] {
  display: none;
}

/* Actions */
.form-actions {
  clear: both;
}

/* Table */
.table {
  --bs-table-bg: #F8F8FB;
  --bs-table-bg-white: #FFFFFF;
  --bs-table-border-color:#D8D8DB;
}

.table> :not(caption)>*>* {
  padding: 1rem 1rem;
  background-color: var(--bs-table-bg-white);
}

.table th {
  background-color: var(--bs-table-bg);
  font-weight: 400;
  vertical-align: middle;
}

/* Pager */
.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.75rem;
  --bs-pagination-border-radius: 30px;
  --bs-pagination-border-color: #D8D8DB;
  --bs-pagination-color: #0017C1;
  --bs-pagination-hover-bg: #E8F1FE;
  --bs-pagination-hover-border-color: #0017C1;
  --bs-pagination-focus-bg: #FFFFFF;
  --bs-pagination-focus-color: #0017C1;
  --bs-pagination-focus-border-color: #D18D0F;
  --bs-pagination-font-size: 0.875rem;
  --bs-pagination-font-size-active: 0.75rem;
  --bs-pagination-first-arrow-image: url(../images/firstpage_arrow.svg);
  --bs-pagination-previous-arrow-image: url(../images/arrow_left.svg);
  --bs-pagination-next-arrow-image: url(../images/arrow_right.svg);
  --bs-pagination-last-arrow-image: url(../images/endpage_arrow.svg);
  --bs-pagination-ellipses-image: url(../images/abbreviation_dots.svg);
  gap: 12px;
}

.pager__item {
  padding: 0;
}

.page-item.active {
  display: flex;
  align-items: center;
  font-size: var(--bs-pagination-font-size-active);
}

.page-link {
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: var(--bs-pagination-border-radius);
}

.page-link:active {
  background-color: var(--bs-pagination-hover-bg);
  border-color: var(--bs-pagination-hover-border-color);
}

.page-link:focus {
  border-color: var(--bs-pagination-focus-border-color);
  border-width: 2px;
  box-shadow: none;
}

.pager__item--first .page-link {
  background-image: var(--bs-pagination-first-arrow-image);
  background-repeat: no-repeat;
  background-position: center;
  text-indent:-9999px;
}

.pager__item--previous .page-link {
  background-image: var(--bs-pagination-previous-arrow-image);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

.pager__item--next .page-link {
  background-image: var(--bs-pagination-next-arrow-image);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

.pager__item--last .page-link {
  background-image: var(--bs-pagination-last-arrow-image);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

.page-item.disabled {
  display:  flex;
  align-items: center;
}

.disabled>.page-link {
  background-image: var(--bs-pagination-ellipses-image);
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  background-color: transparent;
  border: 0;
  text-indent: -9999px;
  width: 1.5rem;
  height: 1.5rem;
  align-self: unset;
}

/* Breadcrumb */
.breadcrumb {
  --bs-breadcrumb-font-size: 0.875rem;
  --bs-breadcrumb-item-padding-x: 0;
  --bs-breadcrumb-arrow-padding-x: 4px;
  --bs-breadcrumb-arrow: url(../images/arrow_breadcrumb.svg);
  gap: 4px;
}

.breadcrumb li {
  display: flex;
  align-items: center;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "";
  padding-right: var(--bs-breadcrumb-arrow-padding-x);
  background-image: var(--bs-breadcrumb-arrow);
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

@media (max-width: 575px) {
  .pagination {
    gap: 24px;
  }

  .page-item:not(.pager__item--first):not(.pager__item--previous):not(.pager__item--next):not(.pager__item--last):not(.active) {
    display: none;
  }
}

/* Devider */
hr.devider {
  margin: 16px auto 17px;
  opacity: unset;
}

hr.devider.cl_default {
  border-color: #D8D8DB;
}

hr.devider.cl_medium {
  border-color: #949497;
}

hr.devider.cl_dark {
  border-color: #000000;
}

hr.devider.wd_1px {
  border-width: 1px;
}

hr.devider.wd_2px {
  border-width: 2px;
}

hr.devider.wd_3px {
  border-width: 3px;
}

hr.devider.wd_4px {
  border-width: 4px;
}

hr.devider.dashed {
  border-style: dashed;
}

/* Modal dialog */
.modal-content {
  --mdb-modal-header-padding: 0;
  --mdb-modal-padding: 16px 0 40px;
  padding: 40px 56px;
}

.modal-title {
  color: var(--light-text-body, #1A1A1C);
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.88px;
}

.modal-footer .btn {
  width: 100%;
  margin: 8px 0 0 0;
}

.modal-footer .btn:first-child {
  margin-top: 0;
}

@media (max-width: 767.98px) {
  .modal-content {
    --mdb-modal-padding: 16px 0 24px;
    padding: 16px;
  }
}

/* Utility links */
.region-header .nav,
footer .nav {
  flex-direction: row;
  gap: 16px;
  margin: 4px 17px;
}

.region-header .nav {
  justify-content: flex-end;
}

footer .nav {
  justify-content: center;
}

.region-header .nav .nav-link,
footer .nav .nav-link {
  color: var(--light-text-body);
  text-decoration: underline;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.56px;
}

.region-header .nav .nav-link:hover,
footer .nav .nav-link:hover {
  color: var(--light-text-body);text-decoration: underline;
  background-color: var(--light-background-secondary);;
}

.region-header .nav .nav-link:focus,
footer .nav .nav-link:focus {
  border-radius: 4px;
  border: 2px solid var(--light-border-focused, #CD820A);
}

.region-header .nav .nav-link .menu-icon,
footer .nav .nav-link .menu-icon {
  margin-right: 4px;
  display: inline-block;
}

/* Header container */
header {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.region-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media (max-width: 1199px) {
  header {
    max-width: 1140px;
  }
}

@media (max-width: 991px) {
  header {
    display: flex;
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  header .container {
    flex-wrap: wrap;
  }

  .region-header {
    justify-content:  unset;
  }

}

@media (max-width: 575px) {
  header {
    display: flex;
    max-width: 540px;
  }
}

/* Grobal menu */
.navbar {
  --bs-navbar-toggler-icon-bg: url(../images/burger-menu-close.svg);
}
.region-nav-main .navbar-nav {
  display: flex;
  gap: 23px;
}

.region-nav-main .navbar-nav > .nav-item > .nav-link,
.region-nav-main .navbar-nav > .nav-item .tbm-link-container .nav-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.64px;
  color: #1A1A1C !important;
  display: flex;
  flex-wrap: nowrap;
}

.region-nav-main .navbar-nav >.nav-item >.nav-link:hover,
.region-nav-main .navbar-nav>.nav-item>.tbm-link-container .nav-link:hover {
  border-bottom: 2px solid var(--light-text-body);
}

.region-nav-main .navbar-nav>.nav-item>.nav-link:active,
.region-nav-main .navbar-nav>.nav-item>.dropdown-toggle.show,
.region-nav-main .navbar-nav>.nav-item.open>.tbm-link-container .nav-link {
  border-bottom: 2px solid var(--light-icon-active) !important;
  color: var(--light-text-link) !important;
}

.region-nav-main .navbar-nav>.nav-item>.nav-link .menu-icon,
.region-nav-main .navbar-nav>.nav-item .tbm-link-container .nav-link .menu-icon {
  display: inline-block;
  margin-right: 8px;
}

.region-nav-main .navbar-nav>.nav-item .tbm-link-container .nav-link .menu-icon [class*=' fa-'] {
  margin-right: 0;
}

.region-nav-main .navbar-nav .dropdown-toggle:after {
  border: 0;
  background-image: url(../images/dropdown_arrow.svg);
  width: 24px;
  height: 20px;
  margin-left: auto;
}

.region-nav-main .navbar-nav .dropdown-toggle.show:after {
  background-image: url(../images/dropdown_arrow_up.svg);
}

/* Dropdown */
.dropdown-menu {
  --bs-dropdown-padding-x: 8px;
  --bs-dropdown-padding-y: 8px;
  --bs-dropdown-item-padding-x: 16px;
  --bs-dropdown-item-padding-y: 8px;
}

.navbar-nav > .nav-item > .dropdown-menu {
  border: 1px solid var(--primitive-colors-sumi-500);
  background: var(--light-background-primary);
  box-shadow: 0px 4px 16px 0px rgba(26, 26, 28, 0.20);
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-nav>.nav-item>.dropdown-menu.show {
  display: flex;
}

.navbar-nav > .nav-item > .dropdown-menu .nav-item.dropdown > .dropdown-menu {
  box-shadow: none;
  position: static;
}

.navbar-nav>.nav-item>.dropdown-menu .nav-item.dropdown .dropdown-menu {
  box-shadow: none;
  position: static;
  border: 0;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-nav>.nav-item>.dropdown-menu .nav-item.dropdown .dropdown-menu.show {
  display: flex;
  padding: 0;
}

.navbar-nav>.nav-item>.dropdown-menu .nav-item.dropdown .dropdown-toggle,
.navbar-nav>.nav-item>.dropdown-menu .nav-item .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.64px;
  color: var(--light-text-body);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.navbar-nav>.nav-item>.dropdown-menu .nav-item.dropdown .dropdown-toggle:after {
  background-image: url(../images/menu_arrow_down.svg);
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.navbar-nav>.nav-item>.dropdown-menu .nav-item.dropdown .dropdown-toggle.show:after {
  background-image: url(../images/menu_arrow_up.svg);
}

.navbar-nav>.nav-item>.dropdown-menu .nav-item.dropdown .dropdown-toggle:hover,
.navbar-nav>.nav-item>.dropdown-menu .nav-item .dropdown-item:hover,
.region-nav-main .navbar-nav .tbm-item.level-2 .nav-link:hover {
  border-radius: 8px;
  background: var(--light-background-tertiary);
  text-decoration-line: underline;
}

.navbar-nav>.nav-item>.dropdown-menu .nav-item .dropdown-item:active,
.navbar-nav>.nav-item>.dropdown-menu .nav-item .dropdown-item.is-active,
.region-nav-main .navbar-nav .tbm-item .nav-link.is-active {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--primitive-colors-sea-50);
  color: var(--light-text-link) !important;
  font-weight: 700;
}

.navbar-nav .dropdown-menu.nav-level-2>.nav-item.dropdown>.dropdown-toggle,
.navbar-nav .dropdown-menu.nav-level-2>.nav-item>.dropdown-item {
  padding-left: 48px;
}

.navbar-nav .dropdown-menu.nav-level-3>.nav-item.dropdown>.dropdown-toggle,
.navbar-nav .dropdown-menu.nav-level-3>.nav-item>.dropdown-item {
  padding-left: 80px;
}

.language-selector a {
  text-decoration: none;
  color: var(--light-text-body);
}

.language-selector .dropdown-toggle {
  display: flex;
  align-items: center;
}

.language-selector .dropdown-toggle:focus {
  border-radius: 4px;
  border: 2px solid var(--light-border-focused);
}

.language-selector .dropdown-toggle::before,
.language-selector .dropdown-toggle::after {
  width: 17px;
  height: 17px;
}

.language-selector .dropdown-toggle::before {
  content: '';
  background-image: url(../images/language_selector.svg);
  margin-right: 4px;
}

.language-selector .dropdown-toggle::after {
  border: none;
  background-image: url(../images/language_selector_arrow.svg);
  margin-left: 4px;
}

.language-selector .dropdown-menu {
  border-radius: 6px;
  border: 1px solid var(--primitive-colors-sumi-500);
  background: var(--light-background-primary);
  padding: 8px 0px;
  min-width: auto;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.language-selector .dropdown-menu li {
  width: 100%;
}

.language-selector .dropdown-menu.show {
  display: flex;
}

.language-selector .dropdown-menu .language-link {
  padding: 4px 32px;
  white-space: nowrap;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.64px;
  display: inline-block;
  width: 100%;
}

.language-selector .dropdown-menu .language-link:hover,
.language-selector .dropdown-menu .language-link.active-language:hover {
  background: var(--light-background-secondary);
  text-decoration-line: underline;
}

.language-selector .dropdown-menu .language-link:focus,
.language-selector .dropdown-menu .language-link.active-language:focus {
  border: 2px solid var(--light-border-focused);
  background: var(--light-background-secondary);
  text-decoration-line: underline;
}

.language-selector .dropdown-menu .language-link.active-language {
  font-weight: 700;
  background: var(--light-background-tertiary);
  position: relative;
}

.language-selector .dropdown-menu .language-link.active-language:before {
  display: inline-block;
  content: '';
  background-image: url(../images/active_language.svg);
  margin-right: 4px;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 5px;
  top: 8px;
}

/* Burger menu and mobile menu */
@media (max-width: 991px) {
  .navbar-expand-lg {
    box-shadow: none;
    align-items: flex-start;
    padding: 0;
  }

  .navbar>.container {
    justify-content: flex-end;
    position: relative;
  }

  .navbar>.container  .navbar-collapse {
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid var(--light-border-divider);
    z-index: 1;
    background: var(--light-background-primary);
  }

  .region-nav-main .navbar-nav {
    gap: 0;
  }

  .region-nav-main .navbar-nav > .nav-item {
    padding: 0 20px;
  }

  .region-nav-main .navbar-nav>.nav-item>.nav-link,
  .region-nav-main .navbar-nav>.nav-item .tbm-link-container .nav-link {
    padding: 6px 0 7px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.64px;
    justify-content: unset;
  }

  .navbar-nav>.nav-item>.dropdown-menu {
    border: 0;
    box-shadow: none;
    padding: 0;
  }

  .navbar-nav>.nav-item>.dropdown-menu .nav-item.dropdown .dropdown-toggle,
  .region-nav-main .tbm--mobile .navbar-nav .tbm-item.level-2 .nav-link {
    padding: 6px 0 7px 24px;
  }

  .navbar-nav>.nav-item>.dropdown-menu .nav-item.dropdown .dropdown-toggle:after {
    margin-right: 3px;
  }

  .navbar-nav>.nav-item>.dropdown-menu .nav-item.dropdown .dropdown-menu {
    padding: 0;
  }

  .navbar-nav .dropdown-menu.nav-level-2>.nav-item>.dropdown-item,
  .region-nav-main .tbm--mobile .navbar-nav .tbm-item.level-3 .nav-link {
    padding: 6px 0 7px 48px;
  }
}

.navbar-toggler {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}

.collapsed .navbar-toggler-icon,
.tbm--mobile:not(.tbm--mobile-show) .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url(../images/burger-menu.svg);
}

.navbar-toggler-label-open,
.navbar-toggler-label-close {
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.navbar-toggler-label-open {
  display: none;
}

.collapsed .navbar-toggler-label-open {
  display: inline-block;
}

.collapsed .navbar-toggler-label-close {
  display: none;
}

/* Drawer */

@keyframes slide_in {
  0% {
    opacity: 0;
    transform: translateX(64px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Drawer */
.offcanvas-start.show:not(.hiding) {
  box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.10);
  border-right: 0;
}

.offcanvas-end.show:not(.hiding) {
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.10);
  border-left: 0;
}

/* Mega menu */
.region-nav-main .tbm {
  background-color: transparent;
}

.region-nav-main .tbm-item.level-1 {
  border-right: 0;
}

.region-nav-main .tbm-submenu-toggle:before {
  display: none;
}

.region-nav-main .tbm-submenu-toggle {
  width: auto;
}

.region-nav-main .tbm-link.level-1 {
  padding-top: var(--bs-nav-link-padding-y);
  padding-bottom: var(--bs-nav-link-padding-y);
}

.region-nav-main .tbm-link.level-1:hover,
.region-nav-main .tbm-link.level-1:focus {
  background-color: transparent;
}

.tbm-submenu {
  width: 100vw;
  right: 0;
  left: unset;
  border-color: var(--primitive-colors-sumi-500);
  box-shadow: none;
}

@media (min-width: 992px) {
  .tbm-submenu {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .tbm-submenu {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .tbm-submenu {
    max-width: 1320px;
  }
}

.tbm-item.level-1.open>.tbm-submenu {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
}

.tbm-item.level-1.open .tbm-row {
  display: flex;
  gap: 40px;
}

.tbm-item.level-1.open .tbm-column {
  flex: 1;
}

.tbm-item.level-1.open .tbm-column.submenu-title-box {
  padding: 8px 0;
}

.tbm-item.level-1.open .tbm-column.submenu-title-box .submenu-title {
  color: var(--light-text-body);
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.12px;
}

.tbm-item.level-1.open .tbm-column.submenu-title-box .submenu-title-link {
  margin-top: 40px;
}

.tbm-item.level-1.open .tbm-column.submenu-title-box .submenu-title-link a {
  color: var(--light-text-link);
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.64px;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
}

.tbm-item.level-1.open .tbm-column.submenu-title-box .submenu-title-link a::after {
  content: '';
  background-image: url(../images/top_page_arrow.svg);
  width: 20px;
  height: 21px;
  display: inline-block;
}

.tbm-group-container {
  border-top: 0;
}

.region-nav-main .navbar-nav .tbm-item.level-2 .nav-link {
  padding: 8px 16px;
}

.region-nav-main .navbar-nav>.nav-item .tbm-group-container .nav-link {
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.64px;
}

.region-nav-main .tbm-main .navbar-nav>.nav-item>.nav-link:hover {
  text-decoration: underline;
}

.region-nav-main .tbm-main .navbar-nav>.nav-item>.nav-link:hover,
.region-nav-main .tbm-main .navbar-nav>.nav-item>.nav-link:active {
  border-bottom: 0 !important;
}

@media (max-width: 991px) {
  .tbm.tbm--mobile .tbm-nav {
    background-color: transparent;;
  }

  .tbm-item.level-1.open>.tbm-submenu {
    flex-wrap: wrap;
    padding: 0;
  }

  .tbm-item.level-1.open .tbm-row {
    flex-direction: column;
    gap: 0;
  }

  .tbm-item.level-1.open .tbm-column {

  }

  .tbm-item.level-1.open .tbm-column.submenu-title-box {
    display: none;
  }

  .region-nav-main .tbm-item.level-1,
  .tbm.tbm--mobile .tbm-item {
    border-top: 0;
  }

  .tbm.tbm--mobile .tbm-submenu-toggle {
    border-left: 0;
  }

  .tbm.tbm--mobile .tbm-subnav .tbm-subnav {
    margin-left: 0;
  }
}

/* Bottom navigation */
@media (min-width: 992px) {
  .region-bottom-navigation {
    display: none;
  }
}

.region-bottom-navigation {
  z-index: 90;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #D8D8DB;
  background-color: #fff;
}

.region-bottom-navigation .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 8px;
}

.region-bottom-navigation .navbar-nav .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-text-body);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.48px;
  padding: 8px 0 12px;
  width: 89.75px;
  height: 100%;
}

.region-bottom-navigation .navbar-nav .nav-link.active {
  color: var(--light-text-link);
  font-weight: 700;
}

.region-bottom-navigation .navbar-nav .nav-link .menu-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 56px;
  height: 33px;
}

.region-bottom-navigation .navbar-nav .nav-link.active .menu-icon {
  border-radius: 18px;
  background: var(--primitive-colors-sea-50);
}
